.navbar{
    background-color:rgb(192, 102, 192) ;
    padding: 2rem 4rem;
    height: 8rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.4);
    font-size: 27px;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
 
&__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
    padding: 0 4rem;

    &__item{
      display: flex;
      justify-content: center;
      align-items: center;
  
    }
}

 &__link{
     color: black;
     text-decoration: none;
     &:hover {
         color: chocolate;
     }
 }
 
}
.logo{
    width: 8rem;
    height: 8rem;
    margin-top: -2rem;
    padding: 0;
}
