*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
}
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color:rgb(184, 95, 184) ;
    text-align: center;
    color: rgb(17, 15, 15);
    font-size: 2rem;
  }

  